body {
  margin: 0;
  padding: 0;
}

.custom-alert-box {
  position: absolute;
  top: 0%;
  padding: 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #58a6eb;
  animation: alert-box 1s ease;
}
@keyframes alert-box {
  0% {
    top: -10%;
  }
  100% {
    top: 0%;
  }
}
